* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat Variable", sans-serif;
}

.main-nackground-content-div{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    font-family: "Montserrat Variable", sans-serif;
    background-image: url(../../public/images/green-and-black-background.jpg)
    
}

.main-top-hero-section {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 1170px;
    height: auto;
    padding-top: 115px;
    padding-bottom: 155px;
    z-index: 0;
}

.hero-section-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-column-gap: 50px;
    width: 100%;
    margin: 0 auto;
    font-family: var(--page-font-family);
    font-weight: 400;
}

.hero-content {
    /* width: 585px;
    height: 340px; */
    display: grid;
    grid-auto-flow: row;
}

.hero-title {
    color: rgb(205, 245, 103);
    text-decoration: none;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.53;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-wrap: balance;
}

.hero-title-second{
    font-family: var(--page-font-family);
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 800;
}

.hero-title-h1{
    margin: 0;
    padding: 0;
    display: inline;
    /* color: inherit;
    font-weight: inherit;
    font-size: inherit; */
    float: left;
    font-size: inherit;
}

.hero-desc{
    text-align: justify;
    font-size: 16px;
    max-width: 54ch;
    margin-top: 24px;
    margin-bottom: 0;
    color: #8b949e;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
}


.hero-img{
    margin-left: 20px;
    width: 647px;
}

.hero-rating{
    display: flex;
    /* float: left; */
    font-family: "Montserrat Variable", sans-serif;
    color: #8b949e;
    height: 37px;
}

.first-reviews{
    width: 160px;
}

.reviews-raiting{
    margin-right: 10px;
    font-weight: 700;
    line-height: 1.2;
    float: left;
    font-size: 30px;
    color: #fff;
}

.second-reviews{
    margin-left: 20px;
    height: 37px;
    width: 300px;
}

/* //button */

.hero-section-button{
    width: 290px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.hero-section-button-a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 20px;
    width: 290px;
    height: 80px;
    text-decoration: none;
    color: #cdf567;
    border: 1px solid #cdf567;
}


.hero-section-button :hover{
    width: 290px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #cdf567;
    color: #000000;
}

.hero-section-button-a :hover{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 20px;
    width: 290px;
    height: 80px;
    text-decoration: none;
    color: #000000;
}